<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITT2 project issues</title>
    <link rel="stylesheet" type="text/css" href="deliverables.css">

<script>
function toggleNext( currentAcc ) {
    var panel = currentAcc.nextElementSibling;
    if (panel.style.display === "block") {
        panel.style.display = "none";
    } else {
        panel.style.display = "block";
    }
}
</script>

</head>
<body>
<div id="list">

    {% for project in projects %}
    <div id="{{ project.name }}">
    {% if project.hasError %}
        <button class="headline">
            Failed to load {{project.name }}
        </button>
    {% else %}
        <button class="headline">
            <a target="_blank" href="{{project.web_url}}">{{project.name_with_namespace}}</a> | Open issues: {{project.open_issues_count}}
        </button>

        {% set o_del_list =  project.fetch_issues( 'deliverable', 'opened' ) %}
        <button class="accordion red" id="o_del_{{ project.name }}"  {% if o_del_list | length < 1%}disabled{% endif %}
            onclick="toggleNext(this)">
            Open deliverables ({{ o_del_list | length }})
        </button>
        <div class="panel" id="open_issues_{{ project.name }}">
            {%- for issue in o_del_list %}
            <p><a target="_blank" href="{{issue.web_url}}">{{issue.title}}</a></p>
            {%- endfor %}
        </div>

        {% set c_del_list =  project.fetch_issues( 'deliverable', 'closed' ) %}
        <button class="accordion green" id="c_del_{{ project.name }}" {% if c_del_list | length < 1%}disabled{% endif %}
            onclick="toggleNext(this)">
            Closed deliverables ({{ c_del_list | length }})
        </button>
        <div class="panel" id="closed_issues_{{ project.name }}">
            {%- for issue in c_del_list %}
            <p><a target="_blank" href="{{issue.web_url}}">{{issue.title}}</a></p>
            {%- endfor %}
        </div>

        {% set o_bug_list =  project.fetch_issues( 'bug', 'opened' ) %}
        <button class="accordion red" id="o_bug_{{ project.name }}" {% if o_bug_list | length < 1%}disabled{% endif %}
            onclick="toggleNext(this)">
            Open bugs ({{ o_bug_list | length }})
        </button>
        <div class="panel" id="open_bug_{{ project.name }}">
            {%- for issue in o_bug_list %}
            <p><a target="_blank" href="{{issue.web_url}}">{{issue.title}}</a></p>
            {%- endfor %}
        </div>

        {% set c_bug_list =  project.fetch_issues( 'bug', 'closed' ) %}
        <button class="accordion green" id="c_bug_{{ project.name }}" {% if c_bug_list | length < 1%}disabled{% endif %}
            onclick="toggleNext(this)">
            Closed bugs ({{ c_bug_list | length }})
        </button>
        <div class="panel" id="closed_bug_{{ project.name }}">
            {%- for issue in c_bug_list %}
            <p><a target="_blank" href="{{issue.web_url}}">{{issue.title}}</a></p>
            {%- endfor %}
        </div>

        {% set o_issues_list =  project.fetch_issues( None, 'opened' ) %}
        <button class="accordion blue" id="o_issues_{{ project.name }}" {% if o_issues_list | length < 1%}disabled{% endif %}
            onclick="toggleNext(this)">
            All open issues ({{o_issues_list | length}})
        </button>
        <div class="panel" id="other_issues_{{ project.name }}">
            {%- for issue in o_issues_list %}
            <p><a target="_blank" href="{{issue.web_url}}">{{issue.title}}</a></p>
            {%- endfor %}
        </div>


    {% endif %}
    </div>
    {% endfor %}

</div>


</body>
</html>
